.home{
	background: transparent;

	#wrapper{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	
		article{
			position: absolute;
			top: 50%;
			left: 70%;
			width: auto;

			margin-top: -135px;

			display: block;
			padding: 25px;
			background: rgba(255,255,255, 0.75);

			h2{
				display: none;
			}

			p{
				width: 260px;
				text-align: center;
				font-style: italic;
				padding: 10px 0;
			}
		}
	}
}